<head>
  <meta charset="UTF-8">
  <title>Merriment Quest</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
</head>

<body>
  <div>
    <header>
      <h1>
        Welcome to Merriment Quest
      </h1>
    </header>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>

</html>