<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

<!-- Bootstrap CSS CDN -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/stylesheets/style.css">

        <title>Merriment Quest</title>
    </head>
<body>
    <header>
        {{> nav}}
    </header>
    {{{body}}}

    <div class="container">
        <footer class="footer d-flex justify-content-center align-items-center">
            <span class="d-flex align-self-center"> Copyright <small>&#169;</small> 2020 Created by: Andrew Morrow &#38; Jack Parisi </span>
        </footer>
    </div>
    {{#if logged_in}}
    <script src="/javascripts/logout.js"></script>
    {{/if}}
</body>
</html>
