<main>
    <h1>
        {{user_name}}'s Dashboard"
    </h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="pageHead">
                    My Watchlist
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</main>