<main>
    <h1 class="pageHead">
        {{watchData.user_name}} Dashboard
    </h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="pageHead">
                     Watchlist
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col watchList">
                {{#each watchData.watchlists}}
                <p>{{game_name}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</main>