<body>
<h2 class="pageHead">Find a Deal</h2>
    <div class="container">
        <div class="form-group">
                <label for="search">Search for a Game</label>
                <input type="text" class="form-control" id="gameSearch">
                <button class="btn btn-primary text-center find-deal-btn">Save Some Money</button>
            </div>
    </div>
</body>
{{> bootstrap-cdn}}
<script src="/javascripts/dealFinder.js"></script>