<body>
    <div class="container">
        <div class="form-group">
                <label for="search">Search for a Game</label>
                <input type="text" class="form-control" id="gameSearch">
                <button class="btn btn-dark text-center">Save Some Money</button>
            </div>
    </div>
</body>