<link rel="stylesheet" href="/stylesheets/dealFinderStyle.css">
<main class="container">

<div class= "jumbotron">
        <h2 class="pageHead">Find a Deal</h2>
        <div class="form-group">
                <label class="textWhite" for="search">Search for a Game</label>
                <input type="text" class="form-control mb-3" id="gameSearch">
                <center><button class="btn btn-secondary text-center find-deal-btn">Save Some Money</button></center>
        </div>
        </div>
</main>
{{> bootstrap-cdn}}
<script src="/javascripts/dealFinder.js"></script>