<link rel="stylesheet" href="/stylesheets/errGameStyle.css">
<main class= "container">
    <article>
        <div class="card mb-3">
            <div>
                <h4 class="card-header">Error Occurred</h4>
            </div>
            <div class="card-body">
                <h1>{{errMessage}}</h1>
                    <a href="/" type="submit" class="btn btn-primary mr-3"> Take me home</a>
            </div>
        </div>
    </article>
</main>
{{> bootstrap-cdn}}