<main class ="container">
<div class="card text-center">
    <div class="card-header">
        We found a match!
    </div>
    <div class="card-body">
        <h5 class="card-title">{{randomGame.name}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Find a deal</a>
    </div>
    <div class="card-footer">
        <p>Not what you had in mind?</p>
        <a href="/gameFinder" class="btn btn-primary">Try again</a>
    </div>
</div>
</main>