<main class= "container">
    <section class="jumbotron">
        <!-- place all blog posts here -->
        <article>
            <div class="card mb-3">
                <div class="d-flex card-header justify-content-between">
                    <h4>Search for a game</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Text goes here
                    </p>
                </div>
                <div class="card-footer">
                    <button class= "btn btn-dark mr-3 rand-search-btn">Find a game</button>
                </div>
            </div>
        </article>
    </section>
</main>
{{> bootstrap-cdn}}
<script src="/javascripts/gameFinder.js"></script>