<body>
    <header>
        <h1>Welcome to Merriment Quest</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Find a Game</h5>
                        <p class="card-text">Looking for a new game? Just answer a few questions and Merriment Quest will help you find your next game!</p>
                        <a href="#" class="btn btn-primary">Discover Games</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Find a Deal</h5>
                        <p class="card-text">Already have a game in mind? Our deal finder powered by Cheapshark will help you find a great price so you can keep looking for more games</p>
                        <a href="#" class="btn btn-primary">Discover Deals</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <h4>For the best experience, create an account</h4>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="api/user/login" type="button" class="btn btn-primary">Login</button>
                <a href="api/user/" type="button" class="btn btn-primary">Create Account</button>
            </div>
        </div>
    </div>
</body>
{{> bootstrap-cdn}}
</html>