<link rel="stylesheet" href="/stylesheets/homeStyle.css">
<main class="container">
    <h1 class="d-flex justify-content-center">Welcome to Merriment Quest</h1>
    <div class="row mb-3 ">
        <div class="col-md-6  d-flex justify-content-center mb-3">
            <div class="card optionCard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center ">Find a Game</h5>
                    <p class="card-text">Looking for a new game? Just answer a few questions and Merriment Quest will help you find your next game!</p>
                    <a href="/gameFinder" class="btn btn-secondary cardBtn">Discover Games</a>
                </div>
            </div>
        </div>
        <div class="col-md-6  d-flex justify-content-center">
            <div class="card optionCard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="d-flex justify-content-center card-title">Find a Deal</h5>
                    <p class="card-text">Already have a game in mind? Our deal finder powered by Cheapshark will help you find a great price so you can keep looking for more games</p>
                    <a href="/dealFinder" class="btn btn-secondary cardBtn">Discover Deals</a>
                </div>
            </div>
        </div>
    </div>
    {{#unless logged_in}}
    <div class="d-flex justify-content-center mb-3">
        <div class="card optionCard" style="width:18rem">
            <div class="card-body d-flex justify-content-center">
            <h4 class="card-text d-flex justify-content-center">To get more features create an account here. You can save game to your watchlist for quick price checks later.</h4>
                <a href="/signup" type="button" class="btn btn-secondary acctBtn">Create Account</a>
            </div>
        </div>
    </div>
    {{/unless}}
</main>
{{> bootstrap-cdn}}
