<link rel="stylesheet" href="/stylesheets/homeStyle.css">
<main class="container">
    <h1 class="pageHead">Welcome to Merriment Quest</h1>
    <div class="row homeCards mb-3">
        <div class="col-md-6">
            <div class="card gameCard optionCard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Find a Game</h5>
                    <p class="card-text">Looking for a new game? Just answer a few questions and Merriment Quest will help you find your next game!</p>
                    <a href="/gameFinder" class="btn btn-secondary cardBtn">Discover Games</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card dealCard optionCard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Find a Deal</h5>
                    <p class="card-text">Already have a game in mind? Our deal finder powered by Cheapshark will help you find a great price so you can keep looking for more games</p>
                    <a href="/dealFinder" class="btn btn-secondary cardBtn">Discover Deals</a>
                </div>
            </div>
        </div>
    </div>
    {{#unless logged_in}}
    <div class=" acntBtns d-flex justify-content-center">
        <div class=" subHead card optionCard" style="width:12rem">
            <div class="card-body">
            <h4 class="card-text">For the best experience, create an account</h4>
            <h4 class="card-text">{{logged_in}}</h4>
            <br>
                <a href="/signup" type="button" class="btn btn-secondary acctBtn">Create Account</a>
            </div>
        </div>
    </div>
    {{/unless}}
</main>
{{> bootstrap-cdn}}
