<link rel="stylesheet" href="/stylesheets/loginSignup.css">
<main class= "container">
    <article>
        <div class="card mb-3">
            <div>
                <h4 class="card-header">Create Account</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="usernameField" class="form-label">Username</label>
                        <input
                            class="form-control"
                            id="new-username"
                            aria-describedby="Username Field"
                        />
                        <div id="usernameHelp" class="form-text">Requirements: 4 - 25 characters</div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordField" class="form-label"
                            >Password</label
                        >
                        <input class="form-control" 
                        type="password" id="new-user-password" />
                        <div id="passwordHelp" class="form-text">Requirements: minimum 8 characters</div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordFieldCheck" class="form-label"
                            >Password</label
                        >
                        <input class="form-control" 
                        type="password" id="new-user-password-check" />
                        <div id="passwordHelp2" class="form-text">Requirements: minimum 8 characters</div>
                    </div>
                    {{!-- when clicked will take them to create user route --}}
                    <button id="signup-btn" type="submit" class="btn btn-primary mr-3">
                        Sign Up
                    </button>
                    <a href="/login">Login instead</a>
                </form>
            </div>
        </div>
    </article>

    <!-- Modal -->
<div class="modal fade" id="passwordMatchModal" tabindex="-1" aria-labelledby="Password Match Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorOccurredMatch">Error Occurred</h5>
            <button type="button" class="close modalExit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            The password fields do not match.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

        <!-- Modal -->
<div class="modal fade" id="userExistsModal" tabindex="-1" aria-labelledby="Password Match Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorOccurredUser">Error Occurred</h5>
            <button type="button" class="close modalExit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            That username is already taken.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

        <!-- Modal -->
<div class="modal fade" id="fieldRequiredSignupModal" tabindex="-1" aria-labelledby="Password Match Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorOccurredFields">Error Occurred</h5>
            <button type="button" class="close modalExit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Please check Requirements for each field.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

        <!-- Modal -->
<div class="modal fade" id="catchErrorModal" tabindex="-1" aria-labelledby="Password Match Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorOccurred">Error Occurred</h5>
            <button type="button" class="close modalExit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Something went wrong, Please try again.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
</main>
{{> bootstrap-cdn}}
<script src="/javascripts/signup.js"></script>