<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Treaty</title>
</head>
<body>
    <h1>My Games</h1>
        <p>
            <ul>
                <li></li>
            </ul>
        </p>
</body>
</html>