body {
    background: url(/images/pexels-jakub-novacek-924824.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
