body {
    background: url(/images/pexels-craig-adderley-3359734.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}

.searchContentBox {
    background-color: #313130ef;
}
