body {
    background: url(/images/pexels-johannes-plenio-1165982.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.optionCard {
    position: relative;
    max-height: 252px;
}

.cardBtn {
    position: absolute;
    left: 80px;
    bottom: 20px;
}

.acctBtn {
    position: absolute;
    bottom: 20px;
}
