body {
    /* background-color: cornflowerblue; */
    /* background-color: cadetblue; */
    background: url(/images/pexels-pixabay-326055.jpg) no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
