html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: whitesmoke;
    font-family: "Yeon Sung", cursive;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto auto;
}

a {
    color: #f8a065;
}

.card {
    background-color: #313130ef !important;
    color: White;
    min-height: 252px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #313130ef;
    color: whitesmoke;
}

.modal {
    color: whitesmoke;
    background-color: #313130ef;
}

.modal-content {
    background-color: #17354a;
}

.modalExit {
    color: whitesmoke;
}
