/* ---- Colors 
    Orchid Pink: #e18ecf
    raisin black: #292829
    Light Cyan: #dcfffd
---- */

.pageHead {
    text-align: center;
    color: white;
    font-family: "Yeon Sung", cursive;
}

.card-title {
    text-align: center;
}

.find-deal-btn {
    align-items: center;
}

.card-text {
    text-align: center;
}

.btn-group {
    align-items: center;
}

.card {
    background-color: #dcfffd;
    min-height: 252px;
}

a {
    color: #f8a065;
    font-family: "Yeon Sung", cursive;
    /* color: #e18ecf; */
}

.subHead {
    text-align: center;
}

.loginBtn {
    align-items: center;
}

.acntBtns {
    align-items: center;
}

.gameCard {
    float: right;
}

.form-check {
    color: white;
    text-align: center;
}

.finderHead {
    text-align: center;
    font-family: "Yeon Sung", cursive;
}

.gameSearch {
    align-items: center;
}

<<<<<<< HEAD
.watchList {
    text-align: center;
    color: #e18ecf;
    font-family: "Yeon Sung", cursive;
=======
.card {
    background-color: #313130ef !important;
    color: White;
}

.textWhite {
    color: whitesmoke;
>>>>>>> a08cfd683b745e5c4592e8e3df953ad09e539457
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #313130ef;
    color: whitesmoke;
}
